@media (max-width: 1024px) {
  .social-stats {
    grid-template-columns: 1fr 1fr;
  }

  .cards-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .header {
    display: block;
    text-align: center;
  }

  .darkmode {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }

  .social-stats {
    margin-top: -50px;
    grid-template-columns: 1fr;
  }

  .cards-overview {
    grid-template-columns: 1fr;
  }
}
